@font-face {
	font-family: 'Mono';
	font-style: normal;
	font-weight: 300;
	src: url('./RobotoMono-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'Fixer';
	font-style: normal;
	font-weight: 300;
	src: url('./Roboto-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'Fixer';
	font-style: italic;
	font-weight: 300;
	src: url('./Roboto-LightItalic.woff2') format('woff2');
}
@font-face {
	font-family: 'Fixer';
	font-style: normal;
	font-weight: 400;
	src: url('./Roboto-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Fixer';
	font-style: italic;
	font-weight: 400;
	src: url('./Roboto-Italic.woff2') format('woff2');
}
@font-face {
	font-family: 'Fixer';
	font-style: normal;
	font-weight: 500;
	src: url('./Roboto-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'Fixer';
	font-style: italic;
	font-weight: 500;
	src: url('./Roboto-MediumItalic.woff2') format('woff2');
}
@font-face {
	font-family: 'Fixer';
	font-style: normal;
	font-weight: 700;
	src: url('./Roboto-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'Fixer';
	font-style: italic;
	font-weight: 700;
	src: url('./Roboto-BoldItalic.woff2') format('woff2');
}
